set_io --warn-no-port reset_n 10
set_io --warn-no-port clk_in 35

set_io --warn-no-port board_clk 31
set_io --warn-no-port board_data 34
set_io --warn-no-port board_latch 38

set_io --warn-no-port package_sda 20
set_io --warn-no-port package_scl 21

set_io --warn-no-port led_blue 40
set_io --warn-no-port led_green 39
set_io --warn-no-port led_red 41
